// p {
//     color: red;
// }

// .text {
//     color: blue;
// }
body {
    background-color: rgba(237, 197, 164, 0.101);
}

.task {
    margin: 30px;

    .input-form {
        display: flex;

        width: 30%;
        column-gap: 20px;



        .input-text {
            display: flex;
            flex-direction: column;



            #input {
                margin-top: 5px;
                padding: 5px 5px;
                border-radius: 10px;

                color: #8b6463;


            }
        }
    }

    .btn {
        align-self: flex-end;

        padding: 8px 15px;
        border-radius: 10px;

        color: white;
        background-color: #8b6463;
        border-color: white;
        cursor: pointer;


        &:hover {
            background-color: rgb(89, 105, 131);
            padding: 10px 18px;

        }
    }
}

.result {

    color: #c7433d;

}